@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: #ccc ;
}
.navbar {
  margin-top: 1rem;
  z-index: 1;
}

.navbar-items {
  float: right;
  padding-left: 2rem;
}
span {
  padding: 2rem;
}